$font-oleo: Oleo Script;
$font-rubik: Rubik;

$color-text-gray: #616161;
$color-text-dark: #252525;
$color-text-green: #00aa7a;
$color-text-hover: #f46530;

$primary-color-orange: #ffa672;
$primary-color-mint: #81e6c4;
$primary-color-light-green: #c2cf7b;
$primary-color-green: #00aa7a;
